.img-card {
  height: 200px;
  width: 100%;
  object-fit: cover;
  object-position: top;
}

footer {
  background-color: rgb(94, 0, 0);
  color: rgb(255, 255, 255);
  padding: 15px;
  position: sticky;
  bottom: 0;
  text-align: center;
}